name: Run E2E Tests
on: [pull_request]

jobs:
  run-e3e-tests:
    name: Run E2E Tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: bitnami/postgresql
        env:
          POSTGRESQL_USERNAME: docker
          POSTGRESQL_PASSWORD: docker
          POSTGRESQL_DATABASE: apisolid
        ports:
          - "5432:5432"
        options: >-
          --health-cmd="pg_isready -U docker"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'
      
      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm run test:e2e
        env:
          JWT_SECRET: testing
          DATABASE_URL: postgresql://docker:docker@localhost:5432/apisolid?schema=public
